<!doctype html>
<html>
  <head>
    <title><%= options.title  %></title>
    <script src="//cdn.jsdelivr.net/combine/npm/jquery@3.3.1,npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootswatch@4.1.3/dist/flatly/bootstrap.min.css">

    <style>
      @media (min-width: 768px) {
        .button-test-area, .widget-test-area {
          flex: 0 0 calc(50% - 7.5px);
        }
      }
    </style>
  </head>

  <body class="bg-light">
    <div class="container">
      <div class="pt-5 pb-4 text-center">
        <h2>Widget and Button Test Forms</h2>
        <p class="px-md-5 mt-4">Preview both the web widget and prefilled buttons with specific API keys and associated parameters. Submitting will redirect to either the white labeled profile or external form page as noted on an Organization's <code>widget_redirect</code> field.</p>
      </div>

      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="widget-tab" data-toggle="tab" href="#widget" role="tab" aria-controls="widget" aria-selected="true">Widget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="button-tab" data-toggle="tab" href="#button" role="tab" aria-controls="button" aria-selected="false">Button</a>
            </li>
          </ul>
        </div>

        <div class="card-body">
          <div class="tab-content bg-white" id="tab-content">
            <div class="tab-pane fade show active" id="widget" role="tabpanel" aria-labelledby="widget-tab">
              <div class="row">
                <section class="col-md-6">
                  <label for="widgetApiKey">API Key</label>
                  <input class="form-control mb-3" id="widgetApiKey">
                  <button class="btn btn-primary mt-1" onclick="window.configureWidget()">
                    Configure Widget
                  </button>
                </section>

                <div class="col-md-6 widget-test-area text-center bg-light py-2 rounded">
                  <div data-pledgeup-widget></div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="button" role="tabpanel" aria-labelledby="button-tab">
              <div class="row">
                <section class="col-md-6">
                  <label for="buttonApiKey">API Key</label>
                  <input class="form-control mb-3" id="buttonApiKey">
                  <div class="row mb-3">
                    <div class="col-md-4">
                      <label for="location">State Code</label>
                      <input class="form-control" id="location">
                    </div>
                    <div class="col-md-4">
                      <label for="employer">Employer PK</label>
                      <input class="form-control" id="employer">
                    </div>
                    <div class="col-md-4">
                      <label for="local">Local PK</label>
                      <input class="form-control" id="local">
                    </div>
                  </div>

                  <button class="btn btn-primary mt-1" onclick="window.configureButton()">
                    Configure Button
                  </button>
                </section>

                <div class="col-md-6 button-test-area text-center bg-light py-2 rounded"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="my-5 text-muted text-center">Powered By <a href="https://pledgeup.com" target="_blank">PledgeUp</a></footer>
    </div>

    <script src="<%= files.chunks.widgetLoader.entry %>"></script>

    <script>
      <% if (RELEASE_NAME) { %>
        window.buttonVersion = window.widgetVersion = '<%= RELEASE_NAME %>';
      <% } else { %>
        window.buttonVersion = '<%= files.chunks.button.hash %>';
        window.widgetVersion = '<%= files.chunks.widget.hash %>';
      <% } %>
    </script>

    <script>
      var buttonScript;
      var resetTest = function() {
        if (buttonScript) {
          buttonScript.nextSibling.remove();
          buttonScript.remove();
        }
        document.querySelector('[data-pledgeup-widget]').innerHTML = '';
      };
      window.configureButton = function(evt) {
        resetTest();
        buttonScript = document.createElement('script');
        buttonScript.dataset.width = 110;
        buttonScript.dataset.height = 40;
        buttonScript.dataset.text = 'test button';
        buttonScript.dataset.key = document.querySelector('#buttonApiKey').value;
        buttonScript.dataset.location = document.querySelector('#location').value;
        buttonScript.dataset.employer = document.querySelector('#employer').value;
        buttonScript.dataset.local = document.querySelector('#local').value;
        buttonScript.src = "<%= files.chunks.buttonLoader.entry %>";
        document.querySelector('.button-test-area').appendChild(buttonScript);
      };

      window.configureWidget = function(evt) {
        resetTest();
        window.pledgeupWidget({
          apiKey: document.querySelector('#widgetApiKey').value,
          version: window.widgetVersion,
        });
      };
    </script>
  </body>
</html>
