<!doctype html>
<html>
  <head>
    <title><%= options.title  %></title>
    <style>
      body {
        text-align: center;
        margin: 0 auto;
        padding: 2rem;
        max-width: 600px;
        line-height: 1.5;
        background: #008b42;
        color: white;
      }

      .demo-form {
        margin-bottom: 2rem;
      }

      .demo-form input {
        margin: 0 .5rem;
        width: 300px;
      }

      p {
        margin: 1rem 0 2rem;
      }
    </style>
  </head>
  <body>
    <h1>Example Union Website</h1>
    <p>This is where the main content of the website would be. Below is an installed web widget. Its width, height, placement, and other components will be configurable per widget.</p>
    <section class="demo-form">
      <label for="apiKey">API Key</label>
      <input name="apiKey" />
      <button onclick="window.configure()">Initialize Widget</button>
    </section>

    <div data-pledgeup-widget></div>

    <script src="<%= files.chunks.widget.entry %>"></script>
    <script>
      <% if (RELEASE_NAME) { %>
        var version = '<%= RELEASE_NAME %>';
      <% } else { %>
        var version = '<%= files.chunks.app.hash %>';
      <% } %>
      window.configure = function() {
        window.pledgeupWidget({
          apiKey: document.querySelector('input[name="apiKey"]').value,
          version: version,
        });
      };
    </script>
  </body>
</html>
